@charset "utf-8";
/* CSS Document */

@import url('reset.css');

	
body{ background: url(../img/bg.jpg) repeat-x top center #fff;   font:15px  Arial, Helvetica, sans-serif; color:#000; text-decoration:none; text-align:justify; }
.float_left{float:left;}
.float_right{float:right;}
.clear{clear:both;}
.left_part{width:713px; }
.right_part{width:297px; }
.black_bg{background:url(../img/main_back.jpg) repeat-x;}
.main_div{width:1016px; margin:0 auto; padding:0px;}
.main_img{background:url(../img/main1.jpg) no-repeat; height:479px;}
.taxt23{font:bold 23px Calibri; color:#fbaa4a; height:25px; padding:102px 0px 0px 30px; }


.linkpan1 {width:300px; float:left; padding:20px 0px 0px 20px;}
.linkpan1 ul {width:300px; overflow:hidden; }
.linkpan1 ul li {display:block; background-image: url(../img/arrow_bit.png);width:300px; font:bold 18px Calibri; color:#fff; background-repeat:no-repeat;background-position:5px 5px;padding-left:30px;
margin-left: 0px 0px 0px 5px; height:30px; }
.linkpan1 ul li a {font:bold 18px Calibri; color:#fff; text-decoration:none; line-height:35px; text-transform:uppercase}
.linkpan1 ul li a:hover {font:bold 18px Calibri; color:#440b5e; line-height:35px;}
.start{background:url(../img/start_now.png) no-repeat; width:236px; height:82px; margin:20px 0px 0px 110px;}
.start:hover{background: url(../img/start_now_hover.png) no-repeat; width:236px; height:82px;}
.form{padding:60px 10px 0px 10px;}


.ar16{font:bold 20px Arial, Helvetica, sans-serif; color:#fff; text-align:center; padding:30px 0px 0px 150px;}
.ar21{font:bold 18px Calibri; color:#000; text-align:center; padding-top:20px; 
}
.ar23{font:bold 20px Calibri; color:#fff; text-align:center; padding-top:20px; 
}
.row{padding-bottom:10px;}
.row2{padding:30px 0px 0px 5px;}
.name{width:80px; text-align:right; padding-right:8px; line-height:22px;	}
.inp{background:url(../img/inp.jpg) repeat-x; height:22px; width:150px; border:none; border-radius:7px 7px 7px 7px; -moz-border-radius:7px 7px 7px 7px; -webket-border-radius:7px 7px 7px 7px; padding-left:10px;}
.yellow_bg{background: url(../img/yellow_bg.jpg) repeat-x #f7931e; height:248px;}
.boxs{width:1016px; }


.ar26{font:bold 26px Arial, Helvetica, sans-serif; color:#fff; text-align:center; padding:10px; line-height:60px;}
.ar26 a{font:bold 26px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-align:center; line-height:60px;}
.ar26 a:hover{font:bold 26px Arial, Helvetica, sans-serif; color:#F8992B; text-decoration:none;line-height:60px; }

.black_btn{background:url(../img/black_btn.png) no-repeat; width:316px; height:59px;  background-position:center;}
.boxpad_top{padding-top:20px; }
.boxpad{padding-top:20px; }
.gray_bg{background:#e8e7e7;}
.white{background:#fff; padding:10px;}
.ar28{font:28px Arial, Helvetica, sans-serif; color:#000; padding-bottom:10px;}

.view{font:20px Arial, Helvetica, sans-serif; color:#000; padding-top:10px; }
.view a{font:20px Arial, Helvetica, sans-serif; color:#000;}
.view a:hover{font:20px Arial, Helvetica, sans-serif; color:#F60; }

.video{box-shadow:0 0 5px #666666;-moz-box-shadow:0 05px #666666;-o-box-shadow:0 05px #666666;-webkit-box-shadow:0 05px #666666;-ms-box-shadow:0 05px #666666; width:545px; padding:5px; margin:20px; }

.yellow_sm{ background: url(../img/yellow_sm.gif) repeat-x ; background-position:bottom; margin-bottom:10px;}

.featured_gray_bg{background:#e8e7e7;border-radius:7px 7px 7px 7px; -moz-border-radius:7px 7px 7px 7px; -webket-border-radius:7px 7px 7px 7px; padding:10px;}
.featured_row{width:200px; padding:10px; border-radius:7px 7px 7px 7px; -moz-border-radius:7px 7px 7px 7px; -webket-border-radius:7px 7px 7px 7px;}
.featured_row:hover{ background:#fff;}
.sm_pad{margin:10px 0px 10px 0px;}
.ar11{font:11px Arial, Helvetica, sans-serif; color:#000; height:50px;}
.rs{font:bold 20px Arial, Helvetica, sans-serif; color:#000; text-align:left; text-decoration:line-through; padding-right:5px;}
.red{font:bold 20px Arial, Helvetica, sans-serif; color:#fd0220; text-align:center; text-decoration:none;}
.wt20{width:470px; padding-left:10px; padding-right:10px;}
a{color:#F60; text-decoration:none;}
a:hover{color:#000; text-decoration:none;}
.footer{background:#545353; padding:10px; font:13px Arial, Helvetica, sans-serif; color:#fff; text-align:center;}
